<div class="container" style="width: 500px">
  <div class="border-bottom text-center">
    <h1>MY TASKS MANAGER</h1>
  </div>
  <div class="text-start border-bottom pt-3 pb-3">
    <ul>
      <% @tasks.each do |task| %>
        <li>
          <%= link_to "#{task.title}", task_path(task), :class => 'btn btn-success mb-2' %>
          <% end %>
        </li>
      </ul>

  </div>
  <div class="text-end pt-3">
    <%= link_to "create a new task", tasks_new_path, :class => 'btn btn-primary'%>
  </div>
</div>
